<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SiCuan</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav>
  <div class="nav-left">SiCuan</div>

  <div class="nav-right">
    <a href="{{ url_for('home') }}">Home</a>
    <a href="{{ url_for('contact') }}">Contact Us</a>
    <a href="{{ url_for('about') }}">About Us</a>
    <a href="{{ url_for('admin') }}">Admin</a>
  </div>
</nav>


<main class="main">
  {% block content %}{% endblock %}
</main>

<footer>
  © 2026 SiCuan — Research Project
</footer>

</body>
</html>
