{% extends "base.html" %}
{% block content %}

<section class="grid-2">
  <div>
    <h1>Atur Keuanganmu dengan <span style="color:#2cb67d">SiCuan</span></h1>
    <p>
      SiCuan membantu kamu menentukan strategi keuangan dan investasi
      berdasarkan tujuan, waktu, dan profil risiko secara sistematis.
    </p>

    <a href="/start">
      <button>Mulai Sekarang</button>
    </a>
  </div>

  <div class="card">
    <h3>Apa yang kamu dapat?</h3>
    <ul>
      <li>Analisis tujuan keuangan</li>
      <li>Profil risiko pengguna</li>
      <li>Rekomendasi alokasi dana</li>
      <li>Perhitungan future value</li>
    </ul>
  </div>
</section>

{% endblock %}
